<!DOCTYPE html>

<html>

	<head>
		<title>Contato - Rafael Belonte Izukawa </title>

		<meta charset="utf-8">
		<link rel="stylesheet" href="static/css/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:100,300,400,500&display=swap" rel="stylesheet">
		<script type="text/javascript" src="static/js/scripts.js"></script> 
		<meta name="viewport" content="width=device-width, inicial-scale=1.0">
		<link rel="shortcut icon" href="static/img/tv.png">


	</head>


	<body>
		<div id="navigation" class="navigation">
				<ul>
					<li><a href="inicio">Home</a></li>
					<li><a href="curriculo">Currículo</a></li>
					<li><a href="contato">Contato</a></li>
					<li id="threeline-icon" class="threeline-icon" onclick="openNav()">&#9776;</a></li>
				</ul>
			</div>


		<div class="main">
								
			<ul class="path">
				<li><a href="inicio"> Home</li></a>
				<li>></li>
				<li>Contato</li>
			</ul>

			<h1>Contato</h1>
			

			<h3>E-mail:</h3>
			<p>bomizukawa@gmail.com</p>

			<div class="container">
				<div class="telefone">
					<h3>Telefone:</h3>
					<p>(11)97038-3635</p>
				</div>
				
				<a><img class="iconsWhat" src="static/img/whatsapp.png" ></a>
			</div>

			<div class="conteiner2">
				<h3>Redes Sociais:</h3>
				<a title="https://www.linkedin.com/in/rafael-izukawa-a41589188/" href="https://www.linkedin.com/in/rafael-izukawa-a41589188/" target="_blank"><img class="iconsSocial" src="static/img/linkedin.png" alt="https://www.linkedin.com/in/rafael-izukawa-a41589188/"></a>
				<h3>Github:</h3>
				<a title="https://github.com/RafaIzu" href="https://github.com/RafaIzu"target="_blank"><img class="iconsSocial" src="img/github.png" alt="https://github.com/RafaIzu"></a>
			</div>


			<br>
			<br>

			<a class="back-link" href="inicio">&larr;Voltar ao início<a>

			</div>	

			

	</body>

</html>
